main {
  max-width: 1080px;
  margin: 10rem auto;
  width: 100%;
  display: flex;
  @include align(column, flex-start, flex-start);
}

// courses-container

.courses-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  h3 {
    padding: 15px;
  }
  .cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .card {
      position: relative;
      margin: 10px;
      flex: 1 1 300px;
      background-color: #fff;
      border: solid 5px #fff;
      border-radius: 5px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      transition: box-shadow 0.4s ease;
      &:last-child {
        max-width: 340px;
      }
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      }
      .card-img {
        height: 220px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .card-info {
        padding: 10px;
      }
      a {
        font-size: 2rem;
        font-weight: 200;
        color: var(--main-color);
      }
      h4 {
        font-size: 16px;
        font-weight: 200;
        color: #a7a299;
      }
      hr {
        display: block;
        height: 1px;
        background: lightgray;
        border: 0;
        margin: 15px 0;
      }
      p {
        color: #697070;
      }
      .reviews-container {
        display: flex;
        justify-content: space-between;
        .stars {
          display: flex;
          cursor: pointer;
          .count {
            margin-right: 5px;
          }
        }
        i {
          color: var(--main-color);
        }
      }
    }
  }
}

// form container

.form-container {
  display: flex;
  margin-top: 50px;
  padding: 10px;
  @include align(column, flex-start, flex-start);
  form {
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    @include align(column, flex-start, flex-start);
    label {
      padding: 5px 0;
      color: #697070;
    }
    input {
      width: 100%;
      margin-bottom: 10px;
      padding: 8px 5px;
      border: solid 1px #697070;
      border-radius: 5px;
      color: #697070;
      &:focus {
        outline: 0;
      }
    }
  }
  button {
    margin-top: 5px;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
    &:active {
      transform: scale(0.98);
    }
  }
}

//js success message container

.success-section {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  .success-msg {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 194, 38, 0.178);
  }
}

// review modal

.stars-modal {
  position: fixed;
  max-width: 500px;
  width: 100%;
  padding: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  z-index: 999;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

.hidden {
  display: none;
}

.modal-exit {
  position: absolute;
  font-size: 40px;
  @include align(row, center, center);
  width: 30px;
  height: 30px;
  color: var(--main-color);
  cursor: pointer;
  right: 5px;
  top: 0;
  transition: transform 0.2s ease;
  transform-origin: center;
  &:hover {
    color: #697070;
  }
}

// stars submit form

.stars-modal form {
  button {
    background-color: var(--main-color);
    border: none;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 0.05rem;
    padding: 5px;
  }
}
