@import '_globals.scss';
@import '_nav.scss';
@import '_main.scss';
@import '_footer.scss';

// Media

@media screen and(max-width: 1080px) {
  main {
    padding: 0 25px;
  }
  .courses-container {
    .cards-container {
      .card {
        flex: 1 1 250px;
        &:last-child {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and(max-width: 860px) {
  .form-container {
    width: 100%;
    form {
      max-width: 100%;
    }
  }
}
